<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd"
>
	<mvc:annotation-driven conversion-service="conversionService" />
	<!--视图解释器 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix" value=".html" />
		<property name="contentType" value="text/html;charset=UTF-8" />
		<!-- 自定义FreeMarkerView，用来定义项目的全局路径 -->
		<property name="viewClass" value="com.bill99.cm.adapter.web.freemarker.FreeMarkerViewImpl" />
	</bean>
	<!-- freemarker的配置 -->
	<bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/view/" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">10</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="number_format">#.##</prop>
			</props>
		</property>
	</bean>
	<!-- spring mvc -->
	<!-- web mvc configuration -->
	<!-- view resolver 视图解析器 <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/view/" p:suffix=".html" /> -->
	<!-- 扫描web包，应用Spring的注解 @Controller -->
	<context:component-scan base-package="com.bill99.cm.web" />
	<!-- MVC Annotation Driven -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean id="utf8StringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/plain;charset=UTF-8</value>
						</list>
					</property>
				</bean>
				<bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
					<!-- 解决 HttpMediaTypeNotAcceptableException: Could not find acceptable representation -->
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="com.bill99.cm.plugins.StringToDateConverter" />
			</list>
		</property>
	</bean>
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="com.bill99.cm.framework.sys.exception.ServiceRuntimeException">ServiceRuntimeException</prop>
				<prop key="com.bill99.cm.framework.sys.exception.ServiceException">ServiceException</prop>
			</props>
		</property>
	</bean>
	<!-- CommonsMultipartResolver 控制上传文件大小 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1024000000"></property>
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>
	<!-- 调用控制器的日志打印 -->
	<bean id="springMethodInterceptor" class="com.bill99.cm.adapter.web.interceptor.MethodAuthorityInterceptor"></bean>
	<aop:config>
		<!--切入点 -->
		<aop:pointcut id="webController" expression="execution(public * com.bill99.cm.web.*.*(..))" />
		<aop:pointcut id="managementController" expression="execution(public * com.bill99.cm.web.management.*.*(..))" />
		<!--在该切入点使用自定义拦截器 -->
		<aop:advisor pointcut-ref="webController" advice-ref="springMethodInterceptor" />
		<aop:advisor pointcut-ref="managementController" advice-ref="springMethodInterceptor" />
	</aop:config>
	<!-- 资源配置 -->
	<mvc:resources mapping="/bin/**" location="/bin/" />
	<mvc:resources mapping="/chart/**" location="/chart/" />
	<mvc:resources mapping="/js/**" location="/js/" />
	<mvc:resources mapping="/themes/**" location="/themes/" />
	<mvc:resources mapping="/uploadify/**" location="/uploadify/" />
	<mvc:resources mapping="/xheditor/**" location="/xheditor/" />
	<mvc:resources mapping="/old/**" location="/old/" />
	<mvc:resources mapping="/dwz.frag.xml" location="/dwz.frag.xml" />
	<mvc:resources mapping="/login_dialog.html" location="/login_dialog.html" />
	<!-- <mvc:resources mapping="/*" location="/" /> -->
</beans>