<!DOCTYPE html>
<html>
    <head>
        <title>FreeMarker Spring MVC 之 表单提交</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>用户登录表单</div>
        <form name="frmLogin" action="${base}/aaa">
            name: <input type="text" name="userName"><br/>  
            pass: <input type="password" name="userPwd"><br/>  
            email: <input type="text" name="email"><br/>  
            hiddenNumber: <input type="text" name="hiddenNumber"><br/>  
            <input type="submit">  
        </form>
    </body>
</html>
