<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>资金管理平台</title>
 <#include "/template/template_css.html"/>
 <#include "/template/template_js.html"/>
</head>
<body  scroll="no">
	<div id="layout">
		<div id="header">
 		<#include "/layout/layout_header.html"/>
		</div>
		<div id="leftside">
 		<#include "/layout/layout_leftside.html"/>
		</div>
		<div id="container">
	 		<#include "/layout/layout_container.html"/>
		</div>
	</div>
	<div id="footer">Copyright &copy; 2016 www.99bill.com ACS TEAM</div>
</body>
</html>